<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/estilos.css">
  <title>Documentacion de la API</title>
</head>
<body>

<%  - include('documentUsuariosdevkvd.ejs') %>
<%  -include('document_devdfg.ejs') %>
<% -include('document.lotes_kfm.ejs') %>
<% -include('documentCostosdevSdva.ejs') %>
<% -include('documentCultivosdevSdva.ejs') %>
<% -include('documentdevjrl.ejs') %>
<% -include('finca_document.ejs') %>
<% -include('ProduccionDocumentDevpap.ejs') %>
<% -include('programacionDocumentDevdjz.ejs') %>
</body>
</html>