<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>131</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    //4
    <h1>Documentación de la API COSTOS</h1>
    <hr>
    <h3>Requerimiento 1. Documentacion ENDPOINT REGISTRAR COSTOS</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td> <td>Registrar costos</td></tr>
        <tr><td>URL</td>  <td>/registrarCosto</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar un nuevo costo en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>POST</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Header</td>  <td>token:token</td></tr>
        <tr><td>Request json</td>  <td>{
            "fk_id_lotes": 1,
            "fk_id_recursos": 1,
            "egresos":756.8656
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        { 
            "status": 200,
            "message": "se Registró correctamente",
        }

        <tr><td>Respuesta json</td>  <td>   
            validacion: 
            Status: 400
            json:
            { 
                "status": 400,
                "message": "campos obligatorios",
            }
    <br>
    Incorrecto:
    
    Status:  400
    body:{
        "status":  403,
        "message" : "No se ha podido registrar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        status: 500,
        "message" : "error en el servidor"
    }
    </td></tr>
    <tr><td>Desarrollador</td><td>Jose Ronaldo Ledezma - devjrl</td></tr>
    </table>
    <br>
    <h3>Requerimiento 2. Documentacion ENDPOINT ACTUALIZAR COSTOS</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar costos</td></tr>
        <tr><td>URL</td>  <td>/ActualizarCosto/:id_costos</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar un costo existente en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Header</td>  <td>token:token</td></tr>
        <tr><td>Request json</td>  <td>{
            "fk_id_lotes": 1,
            "fk_id_recursos": 1,
            "egresos":34.000
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "ha sido actualizado",
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "costo no encontrado"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : "Error interno del servidor"
    }
    </td></tr>
    <tr><td>Desarrollador</td><td>Jose Ronaldo Ledezma - devjrl</td></tr>
    </table>
    
    <h3>Requerimiento 4. Documentacion ENDPOINT BUSCAR UN COSTO</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar un costo</td></tr>
        <tr><td>URL</td>  <td>/BuscarCosto</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar un costo por su id en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Header</td>  <td>token:token</td></tr>
        <tr><td>Request json</td>  <td>{
            "id_costos":1
        }</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        {
            "resultado": [
                {
                    "id_costos": 1,
                    "fk_id_lotes": 1,
                    "fk_id_recursos": 1,
                    "egresos": 77
                }
            ]
        }
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "No se encontraron resultados"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    <tr><td>Desarrollador</td><td>Jose Ronaldo Ledezma - devjrl</td></tr>
    </table>
    <h3>Requerimiento 5. Documentacion ENDPOINT LISTAR COSTOS</h3>
    <table>
        <tr><td>Número</td> <td>5</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar costos</td></tr>
        <tr><td>URL</td>  <td>/usuarios</td></tr>
        <tr><td>Descripción</td>  <td>Permite obtener una lista de todos los costos registradas en la base de datos</td></tr>
        <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Header</td>  <td>token:token</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>   
        Correcto: 
        Status: 200
        json:
        [
	{
		"id_costos": 1,
		"fk_id_lotes": 1,
		"fk_id_recursos": 1,
		"egresos": 77
	},
	{
		"id_costos": 28,
		"fk_id_lotes": 1,
		"fk_id_recursos": 1,
		"egresos": 756.866
	}
]
    <br>
    Incorrecto:
    
    Status: 404
    body:{
        "status": 404,
        "message" : "no hay ningun costo"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message" : Error
    }
    </td></tr>
    <tr><td>Desarrollador</td><td>Jose Ronaldo Ledezma - devjrl</td></tr>
    </table>
    <br>
</body>
</html>