<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación de la API</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    //2
    <h1>Documentación de la API de Fincas</h1>
    <br>
    <hr>
    <h3>Requerimiento 1. Documentación ENDPOINT REGISTRAR FINCAS</h3>
    <table>
        <tr><td>Número</td> <td>1</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Registrar Finca</td></tr>
        <tr><td>URL</td>  <td>/RegistroFinca</td></tr>
        <tr><td>Descripción</td>  <td>Permite registrar una nueva finca en la base de datos</td></tr>
        <tr><td>Método HTTP</td>  <td>POST</td></tr>
        <tr><td>Header</td>  <td>Token:</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, Líder</td></tr>
        <tr><td>Request json</td>  <td>{"nombre_finca": "Nombre de la Finca", "longitud": -74.123456, "latitud": 4.56789}</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se registró la finca con éxito"
        }
    <br>
    Incorrecto:
    
    Status: 404
    json:
    {
        "status": 404,
        "message": "No se registró la finca"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table>
    
    <h3>Requerimiento 2. Documentación ENDPOINT ACTUALIZAR FINCAS</h3>
    <table>
        <tr><td>Número</td> <td>2</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Actualizar Finca</td></tr>
        <tr><td>URL</td>  <td>/actualizarFinca/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite actualizar la información de una finca existente en la base de datos por medio de su id</td></tr>
        <tr><td>Método HTTP</td>  <td>PUT</td></tr>
        <tr><td>Header</td>  <td>Token:</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, Líder</td></tr>
        <tr><td>Request json</td>  <td>{"nombre_finca": "Nuevo Nombre", "longitud": -75.123456, "latitud": 3.56789}</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
        {
            "status": 200,
            "message": "Se actualizó con éxito la finca"
        }
    <br>
    Incorrecto:
    
    Status: 404
    json:
    {
        "status": 404,
        "message": "No se encontró la finca para actualizar"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table>
    

    <h3>Requerimiento 3. Documentación ENDPOINT BUSCAR FINCAS</h3>
    <table>
        <tr><td>Número</td> <td>3</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Buscar Finca</td></tr>
        <tr><td>URL</td>  <td>/buscarFinca/:id</td></tr>
        <tr><td>Descripción</td>  <td>Permite buscar una finca por su id en la base de datos</td></tr>
        <tr><td>Método HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Token:</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, Líder, Aprendiz</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json:
        [
        {
          "id_finca": 1,
          "nombre_finca": "Nombre de la Finca",
          "longitud": -74.123456,
          "latitud": 4.56789
        }
      ]
    <br>
    Incorrecto:
    
    Status: 404
    json:
    {
        "status": 404,
        "message": "No se encontraron resultados para la búsqueda"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table>

    <h3>Requerimiento 4. Documentación ENDPOINT LISTAR FINCAS</h3>
    <table>
        <tr><td>Número</td> <td>4</td></tr>
        <tr><td>Nombre del Servicio</td>  <td>Listar Fincas</td></tr>
        <tr><td>URL</td>  <td>/listarFinca</td></tr>
        <tr><td>Descripción</td>  <td>Permite listar todas las fincas registradas en la base de datos</td></tr>
        <tr><td>Método HTTP</td>  <td>GET</td></tr>
        <tr><td>Header</td>  <td>Token:</td></tr>
        <tr><td>Usuarios</td>  <td>Administrador, Líder, Aprendiz</td></tr>
        <tr><td>Request json</td>  <td>Null</td></tr>
        <tr><td>Respuesta json</td>  <td>	
        Correcto: 
        Status: 200
        json: 
        [
  {
    "id_finca": 1,
    "nombre_finca": "Nombre de la Finca",
    "longitud": -74.123456,
    "latitud": 4.56789,
  },
  {
    "id_finca": 2,
    "nombre_finca": "Nuevo Nombre",
    "longitud": -75.1235,
    "latitud": 3.56789
  }
  ]
    <br>
    Incorrecto:
    
    Status: 404
    json:
    {
        "status": 404,
        "message": "No se encontraron fincas"
    }
    <br>
    Error: 
    
    Status: 500 
    json: {
        "status": 500,
        "message": "Error en el sistema"
    }
    </td></tr>
    <tr><td>Programador</td>  <td>Sergio Canacue - devsce</td></tr>
    </table>
    

</body>
</html>
